<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.security.server.mapper.SubjectMapper">

    <resultMap type="com.boot.security.server.model.Subject" id="BaseResult">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="subject_content" property="subjectContent" jdbcType="VARCHAR"/>
        <result column="right_answer" property="rightAnswer" jdbcType="VARCHAR"/>
        <result column="shared_question" property="sharedQuestion" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="batchInsert">
        INSERT INTO t_subject(sort,type,subject_content,right_answer,shared_question)
        VALUES
        <foreach collection="subs" item="sub" separator=",">
            (#{sub.sort},#{sub.type},#{sub.subjectContent},#{sub.rightAnswer},#{sub.sharedQuestion})
        </foreach>
    </insert>

    <select id="getAllByType" parameterType="java.lang.Integer" resultType="com.boot.security.server.model.vo.SubjectVo">
        select * from t_subject where type = #{type}
    </select>

    <update id="updateAnswer" parameterType="com.boot.security.server.model.Subject">
        update t_subject set right_answer = #{rightAnswer} where sort =  #{sub.sort}
    </update>

    <delete id="delete">
        delete from t_subject
    </delete>

</mapper>

