<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.security.server.mapper.SubjectOptionMapper">

    <resultMap type="com.boot.security.server.model.SubjectOption" id="BaseResult">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="subject_sort" property="subjectSort" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="option_content" property="optionContent" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="batchInsert">
        INSERT INTO t_subject_option(subject_sort,option_content,code)
        VALUES
        <foreach collection="opts" item="opt" separator=",">
            (#{opt.subjectSort},#{opt.optionContent},#{opt.code})
        </foreach>
    </insert>

    <select id="getAll" resultMap="BaseResult">
        select * from t_subject_option
    </select>

    <delete id="delete">
        delete from t_subject_option
    </delete>
</mapper>

