table td,table th{white-space:nowrap;}
	/*table.dataTable tbody tr.selected {background-color: #B0BED9;}*/
	/* .form-inline .form-group{margin-bottom:5px;} */
	/* div.dt-buttons{float: right;} */
	/* .layui-form-item{margin-bottom: 0;} */
	